<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
		<% include ../partials/carousel.ejs %>
		 <% include ../partials/nav.ejs %>
		<br>
		<br>
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
						<div class="section-heading text-center">
							<h2 class="h-bold" style="color:#c83539;">Teams</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="<%= shootingstarsimg %>" alt="" class="img-thumbnail" />
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase"><%= shootingstars %></h7>
									<p class="text-center text-uppercase"><%= shootingstars08rec %></p>
									<a href="#" class="btn btn-danger">Learn more</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">deportivo</h7>
									<p class="text-center text-uppercase">08 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">milan</h7>
									<p class="text-center text-uppercase">08 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/RCP_LIONS.JPG" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">lions cubs</h7>
									<p class="text-center text-uppercase">07 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">golden lions</h7>
									<p class="text-center text-uppercase">06 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">white lions</h7>
									<p class="text-center text-uppercase">06 girls rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="text-center">
			<div class="container">
				<div class="row">
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">ravens</h7>
									<p class="text-center text-uppercase">08 girls rec</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=1097068"  target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">red lions</h7>
									<p class="text-center text-uppercase">06 girls rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">correcaminos</h7>
									<p class="text-center text-uppercase">04 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="<%= image1 %>" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase"><%= team1 %></h7>
									<p class="text-center text-uppercase"><%= team1d %></p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">giants</h7>
									<p class="text-center text-uppercase">04 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">stingrays</h7>
									<p class="text-center text-uppercase">01 girls comp</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="text-center">
			<div class="container">
				<div class="row">
							<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/chelsea.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">chelsea</h7>
									<p class="text-center text-uppercase">06 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=1041490" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
							<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">strikers</h7>
									<p class="text-center text-uppercase">05 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=919865" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">spartans</h7>
									<p class="text-center text-uppercase">05 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=921365" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">lionesses</h7>
									<p class="text-center text-uppercase">04 girls comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=1044499" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">lionesses</h7>
									<p class="text-center text-uppercase">03 girls comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=800726" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">juventus</h7>
									<p class="text-center text-uppercase">07 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=1009646" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="text-center">
			<div class="container">
				<div class="row">
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/lobos.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">lobos</h7>
									<p class="text-center text-uppercase">07 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=924866" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
					<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">cougars</h7>
									<p class="text-center text-uppercase">06 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=998726" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
          <div class="col-md-2">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/team.jpg" alt="" class="img-thumbnail"/>
              </div>
              <div class="service-desc">
                <h7 class="text-center text-uppercase">stars</h7>
                <p class="text-center text-uppercase">05 grils gold</p>
                <a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=997070" target="_blank" class="btn btn-danger">Learn more</a>
            </div>
          </div>
        </div>
        </div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">fire</h7>
									<p class="text-center text-uppercase">09 girls rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">dynamo</h7>
									<p class="text-center text-uppercase">05 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=923421" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">wildcats</h7>
									<p class="text-center text-uppercase">06 girls comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=573899" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="text-center">
			<div class="container">
				<div class="row">
          <div class="col-md-2">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/team.jpg" alt="" class="img-thumbnail"/>
              </div>
              <div class="service-desc">
                <h7 class="text-center text-uppercase">imperio</h7>
                <p class="text-center text-uppercase">01 boys comp</p>
                <a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=686606" target="_blank" class="btn btn-danger">Learn more</a>
            </div>
          </div>
        </div>
        </div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">international</h7>
									<p class="text-center text-uppercase">03 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=923461" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">union</h7>
									<p class="text-center text-uppercase">03 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=659648" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">boca juniors</h7>
									<p class="text-center text-uppercase">02 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=998761" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">alianza</h7>
								    <p class="text-center text-uppercase">01 boys comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=686597" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
          <div class="row">
  						<div class="col-md-2">
  						<div class="wow fadeInLeft" data-wow-delay="0.2s">
  							<div class="service-box">
  								<div class="service-icon">
  									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
  								</div>
  								<div class="service-desc">
  									<h7 class="text-center text-uppercase">thunder</h7>
  									<p class="text-center text-uppercase">00 boys comp</p>
  									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=919845" target="_blank" class="btn btn-danger">Learn more</a>
  							</div>
  						</div>
  					</div>
  					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<div class="container">
				<div class="row">
          <div class="col-md-2">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/team.jpg" alt="" class="img-thumbnail"/>
              </div>
              <div class="service-desc">
                <h7 class="text-center text-uppercase">black widows</h7>
                <p class="text-center text-uppercase">08 girls rec</p>
                <a href="#" class="btn btn-danger">Learn more</a>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-2">
        <div class="wow fadeInLeft" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-icon">
              <img src="img/team.jpg" alt="" class="img-thumbnail"/>
            </div>
            <div class="service-desc">
              <h7 class="text-center text-uppercase">golden lions</h7>
              <p class="text-center text-uppercase">04 boys rec</p>
              <a href="#" class="btn btn-danger">Learn more</a>
          </div>
        </div>
      </div>
      </div>
          <div class="col-md-2">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/team.jpg" alt="" class="img-thumbnail"/>
              </div>
              <div class="service-desc">
                <h7 class="text-center text-uppercase">tecos</h7>
                <p class="text-center text-uppercase">05 boys rec</p>
                <a href="#" class="btn btn-danger">Learn more</a>
            </div>
          </div>
        </div>
        </div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">trojans</h7>
									<p class="text-center text-uppercase">04 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">timber</h7>
									<p class="text-center text-uppercase">11 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">challengers</h7>
									<p class="text-center text-uppercase">10 boys rec</p>
									<a href="#" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>

				</div>
			</div>
		</div>
    <div class="text-center">
			<div class="container">
				<div class="row">
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">cheetahs</h7>
									<p class="text-center text-uppercase">99 girls comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=659641" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>
						<div class="col-md-2">
						<div class="wow fadeInLeft" data-wow-delay="0.2s">
							<div class="service-box">
								<div class="service-icon">
									<img src="img/team.jpg" alt="" class="img-thumbnail"/>
								</div>
								<div class="service-desc">
									<h7 class="text-center text-uppercase">panthers</h7>
									<p class="text-center text-uppercase">98 girls comp</p>
									<a href="https://home.gotsoccer.com/rankings/team.aspx?TeamID=659644" target="_blank" class="btn btn-danger">Learn more</a>
							</div>
						</div>
					</div>
					</div>

				</div>
			</div>
		</div>
	<br>
	<br>
	<br>
	<% include ../partials/footer.ejs %>
</body>
</html>
